@import "tailwindcss";

@theme {
  --animate-gradient-x: gradient-x 3s ease infinite;

  @keyframes gradient-x {

    0%,
    100% {
      background-size: 200% 200%;
      background-position: left center;
    }

    50% {
      background-size: 200% 200%;
      background-position: right center;
    }
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.show-on-export {
  display: none !important;
}

.html2canvas-container .show-on-export {
  display: block !important;
}